.card-item {
  height: 170px;
  padding: 10px;
  margin: 10px;
  background-color: #f4f4f4;
  color: #000000;
  box-shadow: 0 2px 2px #efefef;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.card-title {
  margin-top: 6%;
}

.card-icon {
  font-size: 60px;
}

.card-link {
  text-decoration: none;
}

.card-item:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2980b9;
}
